.fileUpload {
  border: 1px solid #0dafba;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  align-self: center;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  .closeButton {
    color: red;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    z-index: 1;
  }
}
.file {
  display: none;
}
