/* ------ OFFER ---------- */
.offer {
  display: flex;
  background-color: #efefef;
  padding: 20px;
  justify-content: center;
  height: 100vh;

  .offerProduct {
    display: flex;
    height: 600px;
  }

  img {
    max-width: 800px;
    object-fit: contain;
    margin-right: 200px;
  }

  .offerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    background-color: white;
    box-sizing: border-box;
    padding: 40px;

    .technicalInfoProduct {
      border-bottom: 1px #e5e5e5 solid;
      margin-bottom: 40px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding-bottom: 80px;
    }

    .productPrice {
      font-size: 23px;
      margin-bottom: 20px;
      font-weight: normal;
    }

    .productDetail {
      display: flex;
      justify-content: space-between;
      font-size: 13px;

      ul {
        &:first-child {
          color: #b1b1b1;
        }

        &ul:last-child  {
          color: #666666;
        }
      }

      li {
        margin-bottom: 7px;
      }
    }

    .aboutProduct {
      font-size: 15px;

      h2 {
        margin-bottom: 20px;
        font-weight: bold;
      }
      .productDescription {
        color: #b1b1b1;
      }
      .ownerInfo {
        height: 30px;
        color: black;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        height: 60px;
        margin-top: 10px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50px;
          margin-right: 5px;
        }
      }
    }
  }

  .buyButton {
    background-color: #09b0ba;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }

  .buyButton:active {
    background-color: #015f68;
  }
}

@media (max-width: 750px) {
  .offer {
    height: 100%;
    padding: 0;

    .offerProduct {
      flex-direction: column;
      flex: 1;

      img {
        width: 100vw;
        margin: 0;
      }

      .offerInfo {
        width: 100vw;
      }
    }
  }
}
