.publish {
  h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .obligatoryFields,
  .sellOtherData {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 1px solid #0dafba;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 30px;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}
