/* HEADER */

.logo {
  margin-left: 20px;
  height: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  height: 100px;

  .first-line {
    .buttons {
      display: none;
    }

    .burgerMenu {
      display: none;
    }
  }
}

.searchZone {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  flex: 1;
  padding: 0 10px;

  .searchBar {
    max-width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    border: none;

    div {
      padding: 10px;
    }

    span {
      color: darkgray;
    }
  }

  .sorting {
    display: flex;
    height: 20px;
    max-width: 500px;
    margin-top: 10px;
    align-items: center;

    label {
      font-size: 12px;
      width: 130px;
    }

    .price-sorting {
      border: 1px solid #09b0ba;
      border-radius: 3px;
      padding: 2px;
    }

    input {
      margin: 10px 20px 0 4px;
      width: 20px;
    }

    .slider {
      margin-left: 20px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 410px;

  button {
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: #09b0ba 1px solid;
    width: 120px;
    height: 40px;
  }

  div {
    margin-right: 20px;
  }

  .profileButton {
    display: flex;
  }

  .sellButton {
    background-color: #09b0ba;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .sellButton:active {
    background-color: #015f68;
  }

  .profileButton button {
    background-color: white;
    color: #09b0ba;

    &:active {
      background-color: rgb(229, 229, 229);
    }
  }
}

@media (max-width: 750px) {
  header {
    flex-direction: column;
    width: 100vw;

    .buttons {
      display: none;
    }

    .first-line {
      width: 100%;
      position: relative;

      div {
        display: flex;
        justify-content: space-between;

        img {
          margin: 0 5px;
        }

        .burgerMenu {
          width: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
          box-sizing: border-box;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100vw;
        padding: 5px 15px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 0 0 5px 5px;

        div {
          margin: 0;
        }

        .profileButton {
          width: 100%;
          display: flex;
          flex-direction: column;
        }

        button {
          width: 100%;
          box-sizing: border-box;
          margin-right: 0;
          margin-bottom: 5px;
          justify-content: center;
          font-size: large;
        }
      }
    }

    .searchZone {
      width: 100vw;

      input {
        box-sizing: border-box;
        margin: 5px;
      }
    }

    label {
      display: none;
    }
  }
}
