/* HEADER */

.logo {
  margin-left: 20px;
  font-size: 40px;
  color: #017580;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  border-bottom: solid 1px gray;
  align-self: flex-start;
  height: 50px;
}

.searchBar {
  width: 700px;
  height: 40px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: lightgrey;
  border-radius: 5px;
}

.searchBar div {
  padding: 10px;
}

.searchBar span {
  color: darkgray;
}

.buttons {
  display: flex;
  /* width: 300px; */
  justify-content: space-between;
  /* background-color: red; */
}

.buttons button {
  border: #017580 1px solid;
  border-radius: 5px;
  background-color: white;
  color: #017580;
  /* height: 25px; */
  padding: 10px 20px;
  margin-right: 10px;
}

.buttons div {
  margin-right: 40px;
}

.buttons > button {
  background-color: #017580;
  color: white;
}

/* HERO */

.hero {
  height: 200px;
  background-color: #017580;
}

/* HOME */
.homeOffers {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: lightcoral;
  width: 195px;
  text-decoration: none;
  color: black;
}

.product img {
  height: 325px;
  width: 195px;
  object-fit: cover;
}

.infoOwner img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

/* ------ OFFER ---------- */
.offer {
  display: flex;
}

.offer img {
  height: 624px;
  width: 452.5px;
  object-fit: cover;
}

.offerInfo {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: lightgray;
}

.technicalInfoProduct {
  border-bottom: 1px grey solid;
  margin-bottom: 40px;
}

.productPrice {
  margin: 10px;
  font-size: 40px;
}

.productDetail {
  display: flex;
  justify-content: space-between;
}

/* li {
  display: flex;
  justify-content: space-between;
} */

h2 {
  margin-bottom: 10px;
}
