header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.searchBar {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.hero {
  height: 200px;
  background-color: aquamarine;
}

.homeOffers {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: lightcoral;
  width: 195px;
}

.product img {
  height: 325px;
  width: 195px;
  object-fit: cover;
}

.infoOwner img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
