header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.searchBar {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.hero {
  height: 200px;
  background-color: aquamarine;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
